@import url('https://use.typekit.net/fss4vdp.css');

*,
*::before,
*::after {
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

html {
   font-size: 62.5%;
}

body {
   font-family: acumin-pro-semi-condensed, sans-serif;
   font-size: 1.6rem;
   color: #a6bcd0;
   background: #fff;
   margin: 0;
}

body::-webkit-scrollbar {
   display: none;
}

a {
   text-decoration: none;
   color: inherit;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
